* {
    background-color: #fee9e8;
    font-family: "Buxton Sketch" , "Simplifed Arabic" , Arial , sans-serif;
    margin: 0;
    padding-top: 40px;
}
.header {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.header-img {
    width: 30%;
    height: 30%;
    object-fit: cover;
    border-radius: 12px;
    padding: 30px;
}
.header-text h1 {
    margin: 0;
    font-size: 80px;
    margin-right: 360px;
    margin-top: 30px;
}
.header-text p {
    margin: 5px 0 0 0;
    font-size: 40px;
}
.nav {
    position: absolute;
    top: 20px;
    padding-top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
}
.nav a {
    text-decoration: none;
    color:#c95140;
    font-weight: bold;
    font-size: 20px;
    transition: 0.2s;
}
.nav a:hover {
    color: #fd9f86;
    transform: scale(1.1);
}